
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.title {
  text-align: center;
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 100px;
}

.testmonial {
  padding: 0px 15px 100px 15px;
}

.boxs {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  max-width: 1462px;
  margin: 0 auto;
}

body {
	background: #ddd;
    /* font-family: 'Montserrat', sans-serif; */
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
  font-family: 'Chillax-Variable' ;
  font-family: 'Chillax-Extralight';
  font-family: 'Chillax-Light';
  font-family: 'Chillax-Regular' !important;
  font-family: 'Chillax-Medium' !important;
  font-family: 'Chillax-Semibold';
  font-family: 'Chillax-Bold';
        


}



/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2 {
  font-family: 'Chillax-medium';
  font-weight: 400;
  letter-spacing: 0px;
  color: #0e0e0e;
}
h3,h4,h5,h6 {
  font-family: 'Chillax-medium', serif;
  /* font-weight: 500; */
  letter-spacing: 0px;
  color: #0e0e0e;
}

h1 {
    font-size: 60px;
    letter-spacing: 0px;
    margin-bottom: 0px;
}

h2 {
  font-size: 32px;
  padding-bottom: 12px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-weight: 400;
}

p {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.bg-gray .p{
  color: #ddd;
}

.small {
  font-size: 14px;
  line-height: 28px;
}
#service .small {
  padding: 10px 20px 20px 20px;
}


.anw {
    color: #333;
}

/*---------------------------------------
    General               
-----------------------------------------*/
.nav-link{
  cursor: pointer;
}
html{
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

}

a {
  color: #0e0e0e;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #0e0e0e;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  position: relative;
  margin-bottom: 62px;
  text-align: center;
}

/* #portfolio, */

#team, #service
 {
  padding: 100px;
}
#cta {
  padding:100px 0;
}

#portfolio,
#service, #contact {
  padding-top: 10px;
}

#cta,
#team, #service,
footer {
  text-align: center;
}

#portfolio img,
#team img {
  border-radius: 2px;
  width: 100%;
}

.bg-gray {
  background-color: #000;
  color: #ccc !important;
}

.bg-dark {
  background-color: #202020;
}

.head {
  display: block;
  /* height: 80px; */
  position: relative;
  text-align: left;
}
.lr-pd {
    /* padding-left: 10%;
    padding-right: 10%; */
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 3%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


    /* h1.wow.fadeInUp.head {
      margin-top: 100px;
  } */

/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.navbar-default {
    background: #000;
    border: none;
    box-shadow: 0px;
    padding: 20px 0px;
    margin: 0 !important;
    padding: 30px 0px;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  margin: 0;
  margin-left: 0px !important;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 20px;
    padding-left: 20px;
    padding: 0px 20px !important;
}

.navbar-default .navbar-nav > li a:hover {
    color: #ccc !important;
    
}

.navbar-default .navbar-nav .da a:hover {
  color: #ffffff !important;
  
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606060;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > ::before {
    position: absolute;
    content: '';
    background-color: #000;
    height: 1px;
    width: 10px;
    margin-top: 24px;
    left: 4px;
}


/*---------------------------------------
    Main section              
-----------------------------------------*/

.main-about,
.main-service, .main-contact,
.main-work {
    height: 70vh;
    text-align: center;
}




/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    height: 50vh;
    position: relative;
}

#home p {
  font-size: 27px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-top: 18px;
  text-align: left;
  font-family: "chillax-regular";

}




/*---------------------------------------
   CTA section              
-----------------------------------------*/

#cta p {
  color: #c0c0c0;
  font-size: 22px;
  line-height: 40px;
  font-family: "chillax-regular";
}

#cta .btn {
  color: white;
  background: rgba(255,255,255,.05);
  border: 1px solid rgba(255,255,255,.15);

  /* background-color: #222;
  border: 2px solid transparent;
  color: #ffffff; */
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 32px;
  transition: all 0.4s ease-in-out;
}

#cta .btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}



/*---------------------------------------
    About section              
-----------------------------------------*/

#about {
  padding-top: 40px;
  padding-bottom: 0px;
}

#about h3 {
  text-align: center;
}

#about .chart {
  position: relative;
  text-align: center;
}

#about .chart-icon {
  position: absolute;
  left:50%;
  top:50%;
  margin:-40px 0 0 -34px;
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius:50%;
  background-color: #f0f0f0;
  color: #242424;
}

#about .chart-icon .fa {
  position: absolute;
  top:50%;
  margin-top: -12px;
  left:0;
  width: 100%;
  font-size: 24px;
}


/*---------------------------------------
   Team section              
-----------------------------------------*/

#team h4 {
  padding-bottom: 12px;
}

#team .team-thumb {
  width: 100%;
  margin-bottom: 32px;
  position: relative;
}

#team .team-overlay {
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 90px;
  overflow: hidden;
  transition: height 450ms;
}

#team .team-thumb:hover .team-overlay {
  height: 100%;
  background-color: #ffffff;
  color: #222;
  padding-top: 30%;
  opacity: 0.9;
}

#team .team-thumb:hover h4 {
  color: #0e0e0e;
}


/*---------------------------------------
    Service section              
-----------------------------------------*/

#service .fa {
  background-color: #f0f0f0;
  border-radius: 100px;
  cursor: pointer;
  color: #0e0e0e;
  font-size: 32px;
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0px;
}

#service .fa:hover {
  background-color: #222;
  color: #ffffff;
  transform: scale(1);
  top: -5px;
}

#service .small {
  padding-bottom: 40px;
}



/*---------------------------------------
    Portfolio section              
-----------------------------------------*/

.portfolio-thumb {
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* .portfolio-thumb img {
    filter: grayscale(100%);
} */
    

.portfolio-item-hover {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #0e0e0e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-item-hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.portfolio-item-hover .fa{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  border-radius: 2px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.portfolio-thumb a:hover .portfolio-item-hover {
  opacity: 1;
}

.portfolio-thumb a:hover .portfolio-item-hover:after {
  opacity: 1;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    border-radius: 4px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  color: #000;
}

/*worktope box css*/
.work-box-section {
    width: 100%;
}

.work-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.work-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.work-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/*---------------------------------------
   Contact         
-----------------------------------------*/

#contact form .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
  font-family: chillax-medium;
}

#contact form .form-control:focus {
  border-bottom: 2px solid #0e0e0e;
}

#contact form input {
  height: 50px;
}

#contact form input[type="submit"] {
    border-radius: 2px;
  background-color: #000;
  border: none;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 30px;
}

#contact form input[type="submit"]:hover {
  background-color: #222;
}

#contact .contact-detail {
    padding: 0px 30px 30px 0px;
    /* background-color: #000000; */
}
#contact .contact-detail-2 {
  padding-top: 6px;
}

#contact #google-map iframe {
  border: none;
  width: 100%;
  height: 350px;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding: 20px 0px;
}

footer .footer-link ul {
  margin: 0;
  padding: 0;
  position: relative;
}

footer .footer-link ul li {
  list-style: none;
  display: inline-block;
  padding: 22px;
}

footer .footer-link ul li a {
  color: #000;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

footer .footer-link ul li a:hover {
  color: #000;
}

footer .footer-copyright {
  padding-top: 16px;
}

footer .footer-copyright p {
  padding-top: 8px;
}

.bg-gray .small{
  color: #ddd !important;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}
.bg-gray .social-icon li a{
  color: #ddd;
}
.social-icon li a {
    color: #000;
    border-radius: 2px;
    cursor: pointer;
    font-size: 26px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0px;
}

/* .social-icon li a:hover {
    background: #000;
    color: #ffffff;
    top: -5px;
} */



/*---------------------------------------
   Back top         
-----------------------------------------*/

.go-top {
  background-color: #0e0e0e;
  /* box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 ); */
  border-radius: 12.5%;
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #ddd;
  font-size: 15px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  border: 1px #0e0e0e;
}

.go-top:hover {
    /* border: #a0a0a0 1px solid; */
    color: #ddd;
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 980px) {

  #home {
    height: 50vh;
  }

  #home p {
    font-size: 23px;
  }

  .filter-wrapper li a {
    padding: 8px 12px;
  }

  #about .chart {
    margin-top: 32px;
  }

  #cta p {
    font-size: 24px;
  }

}

@media (max-width: 768px) {

  #home {
    height: 40vh;
  }
}

@media (max-width: 768px) {

  .body-col-md-12 {
    padding: 0px 20px;
  }

}

@media (max-width: 768px) {
  .navbar-brand {
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    padding: 15px 15px 15px 30px;
    }
}

@media (max-width: 768px) {
  .head {
    height: inherit;
  }
  body {
    text-align: center;
  }

  h1 {
    font-size: 48px;
  }

  /* #portfolio, */
  #cta,
  #team, #service
   {
  padding-top: 80px;
  padding-bottom: 0;
}
#contact .contact-detail {
  padding: 0px;

}
.container {
  margin-left: 0;
  margin-right: 0;
}
}



@media (max-width: 767px) {

  .navbar-default {
    text-align: center;

  }

  .navbar-default .navbar-brand {
    line-height: 25px;
    
  }

  .navbar-default .navbar-nav li a {
    line-height: 35px;
  }

  footer .footer-link ul li {
    padding: 8px;
  }

}

@media (max-width: 650px) {
  #home {
    height: 30vh;
  }
}

@media (max-width: 650px) {
  /* #portfolio{
    margin-top: 90px;
  } */
 
}

@media (max-width: 650px) {


  .sd {
    width: 60% !important;
  }
  

  h1 {
    font-size: 36px;
    /* margin-top: 182px; */
  }

  #home p,
  #cta p {
    font-size: 18px;
    line-height: 32px;
  }

  .filter-wrapper {
    text-align: center;
  }

  .filter-wrapper li a {
    padding: 4px;
  }

  #contact .contact-detail-1 {
    padding-top: 32px;
  }


}
   

@media (max-width:480px) {
  
  #cta {
    padding: 100px 15px;
  }


}

@media (min-width:1550px) {
  .container {
    width: 1440px !important;
}


.work-box.graphic.print.branding.html.col-md-4.col-sm-6 {
  position: absolute !important;
  left: 0 !important;
  top: 0px !important;


}

.work-box.graphic.print.col-md-4.col-sm-6 {
  position: absolute !important;
  left: 470px !important;
  top: 0px !important;
}
.work-box.branding.apps.col-md-4.col-sm-6 {
  position: absolute !important;
  left: 940px !important;
  top: 0px !important;
}

.work-box.graphic.apps.col-md-4.col-sm-6 {
  position: absolute !important;
  left: 0 !important;
  top: 357px !important;
}

.work-box.web.apps.col-md-4.col-sm-6 {
  position: absolute !important;
  left: 470px !important;
  top: 357px !important;
}

.work-box.web.print.col-md-4.col-sm-6 {

  position: absolute !important;
  left: 940px !important;
  top: 357px !important;
}
.work-box.web.html.col-md-4.col-sm-6 {
  position: absolute !important;
  left: 0 !important;
  top: 713px !important;
}

.work-box.graphic.print.col-md-4.col-sm-6.saidi {
  position: absolute !important;
  left: 470px !important;
  top: 713px !important;
}


.work-box.web.print.col-md-4.col-sm-6.nacer {
  position: absolute !important;
  left: 940px !important;
  top: 713px !important;
}
}
  

.box {
  background-color: #ddd;
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  padding: 2.5rem;
  text-align: left;
}

.padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (max-width: 992px){
.boxs {
    padding: 0 15px;
    grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 750px){
.boxs {
    grid-template-columns: 1fr;
}
}
.footer-box {
  display: inline-flex;
  gap: 10px;
  align-items: center;

}
.footer-box img {
  width: 60px;
  height: 60px;
  border-radius: 60%;
}
.footer-box h2 {
  font-weight: 400;
  font-family: 'Chillax-Regular' !important;
  color: #000;
  text-transform: uppercase;
  font-size: 19px;
  margin: 0;
  padding: 0;
}
.footer-box  p {
  color: #757575;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.box > p {
  color: #707476;
  margin: 0 0 2.4rem 0;
  font-weight: 500;
  font-family: 'Chillax-regular';
  font-size: 16px;
  /* letter-spacing: 1px; */
}
.box > h2 {
  letter-spacing: -.5px;
  font-size: 26px;
  font-weight: 400;
  line-height: 120%;
  font-family: 'Chillax-medium';
  margin: 0 0 0.5rem 0;
  color: #0e0e0e;
}
.box > img {
  margin: 0 0 2rem 0;
  width: 40px;
  border-radius: 0%;
}

@media (min-width: 1400px){
.title h1 {
    font-size: 3.5rem;
}
}
.title h1 {
  /* font-family: 'Chillax-Regular';
  font-size: 3vw;
  font-weight: 100;
  color: #000;
  margin-bottom: 10px; */

    font-family: 'Chillax-medium';
    font-weight: 400px;
    font-size: 2.7vw;
    font-weight: 100;
    color: #0e0e0e;

    margin-bottom: 10px;
    margin-top: 70px;

}

.title p {
  color: #707476;
  font-size: 1.8rem;
  line-height: 160%;
  font-family: 'chillax-medium';
}

@media (max-width: 750px){
.title h1 {
    font-size: 4.25rem;
}
}

@media (min-width:768px) {
  h1.wow.fadeInUp.head.df.animated.nacer {
    padding: 0 !important;
  }
  .col-md-4s.col-sm-6.omar {
    width: 100% !important;
  }
  h1.wow.fadeInUp.head.animated {
    padding-left: 15px;
    padding-right: 15px;
  }
  p.wow.fadeInUp.lr-pd.animated {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #contact {
    padding-top: 110px !important;
    padding-bottom: 163px !important;
  }
  
  h1.wow.fadeInUp.head.animated {
    color: #0e0e0e;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 7rem;
  }
  /* p.wow.fadeInUp.lr-pd.dahman {
    margin-bottom: 320px;
  } */
  #contact .contact-detail {
    height: 378px !important;
  }
}
@media (max-width:980px) {
  p.wow.fadeInUp.lr-pd.animated {
    margin-bottom: 0px;
}
}


@media (min-width: 992px){
  .wow.fadeInUp.col-md-8.col-sm-8.alalia {
    width: 38%;
    /* left: 20%; */
}
}

@media (min-width: 992px) {
  .col-md-4-cc {
    width: 62% !important;
}
}

@media (min-width: 350px){
  .col-md-4ff {
    width: 100%;
}

}

@media (max-width: 350px){
  #home {
  height: 40vh;
  }
}



.da {
  color: white;
  background: rgba(255,255,255,.05);
  border: 1px solid rgba(255,255,255,.15);
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1px;
  padding: 0px 8px;
  transition: all 0.4s ease-in-out;
  margin-top: 0;
}

.da:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

@media (max-width: 992px) {
  #home p {
    padding-left: 0;
    padding-right: 20px;
  }
  
  .head {
    padding-left: 0;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .col-md-12 .col-sm-12 {
    margin-top: 120px;
  }

}

@media (min-width: 768px){
  .col-sm-8 {
    width: 42%;
}
}

@media (min-width: 768px){
  .col-sm-4 {
    width: 58%;
}
}


@media (min-width: 992px){
.col-md-4s {

      width: 100% !important;
      }
}

.see_all.cen {
  text-align: center;
  align-items: center;
}

.see_all {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.link_portfolio {
  grid-column-gap: 12px;
  color: var(--neutral--100);
  letter-spacing: .32px;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

.t.link_portfolio {
  max-width: 100%;
  display: inline-block;
}

.text_portfolio {
  letter-spacing: .02em;
  font-family: chillax-medium;
  font-size: 20px;
  line-height: 150%;
}

.right_icon.djj img{
  width: 18px;
  height: 18x;
}

.right_icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (min-width: 992px){
.col-md-offset-2 {
text-align: center !important;}
}

@media (max-width: 768px) {
  #cta {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  }

  .container {
    font-family: "chillax-regular" !important;
  }


  .sd {
    width: 40%;
    transform: scaleX(-1);
  }

  
  @media (max-width: 650px) {
  .wow.fadeInUp.head.df {
    font-size: 36px;
    margin-top: 20px;
  }
  .pad {
    padding:30px !important; 
  }
}
.pad {
  padding: 175px 30px;
}
@media (min-width:768px) {
  section#contact {
    display: flex;
    height: calc(100vh - 264px);
  }
}

section#home {
  height: fit-content;
}

  /* #a1c45a */