@font-face {
  font-family: chilax;
  src: url(../Fonts/Variable/Chillax-Variable.ttf) ;
 }
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 html {
     scroll-behavior: smooth;
 }
 
 
 body {
  font-family: 'Chillax-Variable' ;
  font-family: 'Chillax-Extralight';
  font-family: 'Chillax-Light';
  font-family: 'Chillax-Regular' !important;
  font-family: 'Chillax-Medium' !important;
  font-family: 'Chillax-Semibold';
  font-family: 'Chillax-Bold';
    
 }
 ul{
     list-style: none;
 }
 .container {
     margin-left: auto;
     margin-right: auto;
   }
   a {
    text-decoration: none;
   }
   .padding {
    padding-left: 4rem;
    padding-right: 4rem;
}
  /* Large */
  @media (min-width: 1400px) {
    .container {
      max-width: 1400px;
    }
    .home-hero-heading {
      font-size: 98px !important;
    }
  }

/* header */
header {
    padding: 32px 60px 0px;
    background-color: #171717;
   position: relative;
   /* max-width: 1400px; */
   margin-left: auto;
   margin-right: auto;
}
  header .content{
    display: flex;
    height: 39px;
    align-items: center;
    background-color: #171717;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;

}
header h1 {
  color: white;
  font-weight: 400;
  font-family: 'Chillax-Regular';
}
.logo img {
  margin-top: 8.5px;
  width: 92px;
}

.logo {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
nav {
    flex-basis: 50%;
}
nav > ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}
ul  button {
  color: white;
  background: rgba(255,255,255,.05);
  border: 1px solid rgba(255,255,255,.15);
  text-transform: uppercase;
  padding: 10px 18px;
  border-radius: 3px;
  font-family: 'Chillax-Regular';
  font-size: 13px;
  transition: 0.2s;
  cursor: pointer;
}
ul  button:hover {
  border: 1px solid rgba(255, 254, 254, 0.25);

}
nav ul a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: .5px;
  font-family: 'Chillax-Medium';
  cursor: pointer;
    }
   .logo > span {
    color: #1fac71;
    border: 1px solid #254437;
    padding: 3px 7px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 3px;
    background-color: rgba(31,172,113,.05);
  }
  .landing {
    width: 100%;
    overflow: hidden;
}
  @media (max-width:480px) {

    nav img {
      top: 45%;
  }
    ul button {
      display: none;
    }
    .landing h1 {
      font-size: 10vw;
      letter-spacing: 0px;
  }
  .landing .text {
    padding: 30px 15px 100px;

  }
  header {
    padding: 16px 24px 0px;
  
  }
  .text-size-xlarge {
    max-width: 350px;
  }
  }
  /* header */
.landing .container {
  position: relative;

}
.landing .container .hero {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -50px;
  max-width: 1400px;
  
}
.text {
  padding: 0 64px;
  width: 100%;
  position: absolute;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;

}
.home-hero-heading {
  letter-spacing: -5px;
  font-size: 9vw;
  font-weight: 100;
  line-height: 100%;
  color: white;
  font-family: 'Chillax-Regular';
  animation: DownToTop 1s ease;

}
.text-size-xlarge {
  font-size: 1.375rem;
  line-height: 150%;
  color: rgba(255,255,255,.6);
  width: 450px;
  animation: DownToTop 3s ease;
} 
.nav {
  display: none;
}
@media (max-width:992px ) {
  .landing .container .hero {
    top: 0px;
    width: 110%;
overflow: hidden;
  }
  .home-hero-heading {
    font-size: 5rem;
}

.text {
  top: 0px;
}
}
@media (min-width:768px) {
  .landing .container .hero-mini {
    background-color: transparent !important;

 display: none;
  }
  .landing .container .hero {
 /* display: inline; */
  }
  .landing{
    /* overflow: auto; */
    /* height: calc(130.1vh - 162px); */
    height: calc(162.1vh - 162px);
  }
}

@media (max-width: 768px) {
  .transparent-background {
    background-color: transparent !important;
  }
}

@media (max-width:768px) {
  .landing .container .hero {
    display: none;
     }
     .text {
      align-items: center;
      padding: 25px  25px 100px;
      background-color: #171717;
      z-index: -1;
      

  }
  .landing .container .hero-mini {
    display: inline;
    width: 100%;
    position: absolute;
    margin-top: 25%;
    /* top: 0px; */
    left: 50%;
    transform: translate(-50%, 10px);
     
     } 
     .text-size-xlarge {
      font-size: 1.125rem;
      text-align: center;
      padding-top: 10px;
  }
  .home-hero-heading {
    font-size: 4.5rem;
text-align: center;
}
nav > ul > li {
  display: none;
}
.line {
  position: relative;
  height: 25px;
  width: 35px;
}
.line-one ,
.line-two ,
.line-three {
  width: 35px;
  height: 1px;
  background-color: white;
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
}
.line-one {
top: 0;
}
.line-two {
  top: 50%;
}
.line-three {
  top: 100%;
}
.nav ul {
  background-color: #222222;
  padding: 16px;
  border-radius: 10px;
  margin-top: 13px;
  position: absolute;
  width: 83%;
  margin-top: 30px;
  opacity: 0;
  transition: 0.6s;
}
.nav ul li {
 margin-top: 10px;
}
.nav ul li a{
  color: white;
  font-family: 'Chillax-Regular';
}
.nav {
  display: inline;
}
}



@keyframes DownToTop {
  0% {
    transform: translate3d(0px, 15px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
  }
}